nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-color);
  height: 75px;
  padding: 30px;
}

nav a,
nav svg {
  color: white;
  font-size: 1.2rem;
  margin: 10px;
}

nav svg {
  margin-top: 15px;
}

nav a:nth-child(7) {
  width: var(--main-px);
}

nav .active {
  color: var(--green-color);
}

.close {
  display: none;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  nav.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.788);
  }

  .close {
    display: block;
    color: white;
    font-size: 2rem;
    position: absolute;
    right: -120px;
    top: -8px;
  }

  .close:hover {
    color: var(--yellow-color);
  }
}
