.bg-cover {
  background-size: cover;
}

.align-center {
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-auto {
  margin: auto;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
